/*
 * Additional CSS, for animation, etc..
 */

#ng-view {
   position:relative;
   min-height:500px;
}

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
   opacity:0;
   left:100px;
   width:100%;
   position:absolute;
}
.view-enter.view-enter-active {
   left:0;
   opacity:1;
}

.view-leave {
   position:absolute;
   left:0;
   width:100%;
   opacity:1;
}
.view-leave.view-leave-active {
   left:-100px;
   opacity:0;
}




.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-bottom: 15px;
}

.spinner {
	background-image: url('../img/spinner.gif');
	background-repeat: no-repeat;
	height: 60px;
	width: 60px;
	margin: 0 auto;
}

footer {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #222222;
	color: #999999;
}

.tile-square {
   height: 36px; 
   width: 36px;
}

#game-board {
   margin-bottom: 36px;
}

/*
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 1.428571429;
   color: #333333;
}
*/
