<!DOCTYPE html>
<html>
<head>
   <title>Tekst App [[ .Title ]]</title>
   <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="/css/app.css">
   <link rel="SHORTCUT ICON" href="/img/favicon.ico"/>
   <style> body { padding-top: 60px; padding } /* When using the navbar-top-fixed */
   </style>
   <script src="/lib/angular/angular.js"></script>
   <script src="/lib/algorithms.js"></script>
   <script src="/js/app.js"></script>
</head>

<body>

<div ng-app="app">
   <script type="text/ng-template" id="app.html">
      <div><h1>Welcome</h1>
         <p>Tekst Project is a Single Page Application that uses AngularJS and a Go Lang backend.
            Each page serves as a different test. Check out the Alpha page that's an app to measure
            different sorting algorithms for time performance.
         </p>
         <p>This project is open-source and available on 
         <a href="https://github.com/kyledinh/tekst">Github</a>. 
         </p>
      </div>
   </script>

   <script type="text/ng-template" id="alpha.html">
      <div><h1>Alpha Page</h1>
         <p>This page sorts the textarea below with an ajax call to the Go server and uses the Go server's
            sort functions. The time measurement is for the json unmarshalling and sort computing. The source
             is hosted on <a href="https://github.com/kyledinh/tekst">Github</a>.
         </p>
         <p>You can use <a href='http://www.lipsum.com'>www.lipsum.com</a> to generate paragraphs of text to sort.
         </p>
         
         <textarea class="span12" ng-model="data.sourcetext" name="sourcetext" rows="10" cols="120"></textarea>
         <div>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" width="100%">
               <tr>
                  <td>
                  <h4>Sort Criteria</h4>
                  <div class="pull-left">
                  <form name="myForm" ng-controller="AlphaCtrl">
                     <label class="radio">
                        <input type="radio" ng-model="data.criteria" name="criteria" value="WORD">
                        By words
                     </label>
                     <label class="radio">
                        <input type="radio" ng-model="data.criteria" name="criteria" value="CHAR">
                        By characters
                     </label>
                  </form>                                                                                  
                  </div>
                  </td>
               </tr>            
               <tr>
                  <td> Go Lang 
                  <div class="pull-right">
                     <button class="btn btn-primary" ng-click="goSort('NATIVE')"><i class="icon-white icon-refresh"></i> Native </button>
                     <button class="btn btn-info" ng-click="goSort('SELECTION')"><i class="icon-white icon-refresh"></i> Selection</button>
                     <button class="btn btn-success" ng-click="goSort('INSERTION')"><i class="icon-white icon-refresh"></i> Insertion</button>
                     <button class="btn btn-warning" ng-click="goSort('QUICK')"><i class="icon-white icon-refresh"></i> Quick</button>

                  </div>
                  </td>
               </tr>
               <tr>
                  <td> Javascript 
                  <div class="pull-right">
                     <button class="btn btn-primary" ng-click="jsSort('NATIVE')"><i class="icon-white icon-refresh"></i> Native </button>
                     <button class="btn btn-info" ng-click="jsSort('SELECTION')"><i class="icon-white icon-refresh"></i> Selection</button>
                     <button class="btn btn-success" ng-click="jsSort('INSERTION')"><i class="icon-white icon-refresh"></i> Insertion</button>
                     <button class="btn btn-warning" ng-click="jsSort('QUICK')"><i class="icon-white icon-refresh"></i> Quick</button>
                  </div>
                  </td>
               </tr>
            </table>
         <div>
         <h3>{{message}}</h3>
         <p>{{output}}</p>
      </div>
   </script>

   <script type="text/ng-template" id="beta.html">
      <div><h1>Beta Page</h1>
         <textarea class="span12" ng-model="data.sourcetext" name="sourcetext" rows="10" cols="120"></textarea>
         <p>{{data.sourcetext|reverse}}</p>
      </div>
      <div class="btn" 
         ng-click="ev = $event" 
         ng-repeat="item in data.sourcetext.split('')">
            {{$index}}. {{item}} {{ev.pageX}} 
       </div>
   </script>
 
   <script type="text/ng-template" id="delta.html">
      <div><h1>Delta Page</h1>
         <p>a page</p>
      </div>
   </script>

   <div class="navbar navbar-inverse navbar-fixed-top"> 
      <div class="navbar-inner">
         <div class="container">
         <a class="brand" href="#">Tekst Project</a>
         <ul class="nav">
            <li><a href="index.html">Reset </a></li>
            <li><a href="#/alpha">Alpha </a></li>
            <li><a href="#/beta">Beta </a></li>
            <li><a href="#/delta">Delta </a></li>
            <li><a href="#/error">Error </a></li>
         </ul>
         </div><!-- container -->
      </div><!-- navbar-inner --> 
   </div><!-- navbar -->

   <div class="container"><!-- MAIN VIEW CONTAINER -->
      <div class="view-container" ng-controller="AppCtrl">
         <error></error>
         <ng-view></ng-view>
      </div>
   </div><!-- MAIN container -->

</div><!-- ng-app -->

</body>
</html>


