/*
 * Additional CSS, for animation, etc..
 */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#ng-view {
   position:relative;
   min-height:500px;
}

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
   opacity:0;
   left:100px;
   width:100%;
   position:absolute;
}
.view-enter.view-enter-active {
   left:0;
   opacity:1;
}

.view-leave {
   position:absolute;
   left:0;
   width:100%;
   opacity:1;
}
.view-leave.view-leave-active {
   left:-100px;
   opacity:0;
}




.page-header {
   margin-top: 0;
}

.panel-body {
   padding-top: 0;
}

.featuredImg {
   margin-bottom: 15px;
}


footer {
   padding-top: 50px;
   padding-bottom: 20px;
   background: #222222;
   color: #999999;
}

.tile-square {
   height: 36px; 
   width: 36px;
}

#game-board {
   margin-bottom: 36px;
}

.margin-4 {
   margin-bottom: 4px;
}

/*  D3 */

donut-chart {
  display: inline-block;
  cursor: pointer;
}

ul{
    list-style-type: none;
}


svg .counties {
   fill: none;
}

svg .states {
   fill: none;
   stroke: #fff;
   stroke-linejoin: round;
}

svg .q0-9 { fill:rgb(247,251,255); }
svg .q1-9 { fill:rgb(222,235,247); }
svg .q2-9 { fill:rgb(198,219,239); }
svg .q3-9 { fill:rgb(158,202,225); }
svg .q4-9 { fill:rgb(107,174,214); }
svg .q5-9 { fill:rgb(66,146,198); }
svg .q6-9 { fill:rgb(33,113,181); }
svg .q7-9 { fill:rgb(8,81,156); }
svg .q8-9 { fill:rgb(8,48,107); }

svg .r0-9 { fill:rgb(251,247,255); }
svg .r1-9 { fill:rgb(235,222,247); }
svg .r2-9 { fill:rgb(219,198,239); }
svg .r3-9 { fill:rgb(202,158,225); }
svg .r4-9 { fill:rgb(174,107,214); }
svg .r5-9 { fill:rgb(146,66,198); }
svg .r6-9 { fill:rgb(113,33,181); }
svg .r7-9 { fill:rgb(81,8,156); }
svg .r8-9 { fill:rgb(48,8,107); }

/*
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 1.428571429;
   color: #333333;
}
*/
